<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="dashboard">Movie finder</a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarColor01"
      aria-controls="navbarColor01"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div id="navbarColor01" class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto">
        @for (link of links; track link) {
          <li class="nav-item">
            <a
              class="nav-link"
              [routerLink]="'/' + link.path"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
            >{{ link.label }}</a
            >
          </li>
        }
      </ul>

      <ul class="navbar-nav">
        <li class="nav-item">
          <a routerLink="/login" class="btn btn-outline-light btn-lg" role="button">
            Log In
          </a>
        </li>

        <li class="nav-item">
          <button type="button" class="btn btn-outline-light btn-lg">
            Log out
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>

