<app-search-jumbotron
  [title]="searchTitle"
  [description]="searchDescription"
  [callToAction]="searchCallToAction"
></app-search-jumbotron>

<div class="container">
  <h1 class="pt-2">{{ pageTitle | titlecase }}</h1>

  @if ($loading()) {
    <p>Loading ...</p>
  } @else {
    <h2 class="pt-2">Popular movies</h2>
    <div class="row">
      @for (movie of $populateMovies(); track movie.id) {
        <div class="col-lg-2 pb-2">
          <app-movie-card [movie]="movie"></app-movie-card>
        </div>
      }
    </div>

    <h2 class="pt-2">In Theater movies</h2>
    <div class="row">
      @for (movie of $inTheaterMovies(); track movie.id) {
        <div class="col-lg-2 pb-2">
          <app-movie-card [movie]="movie"></app-movie-card>
        </div>
      }
    </div>

    <h2 class="pt-2">Kids movies</h2>
    <div class="row">
      @for (movie of $kidsMovies(); track movie.id) {
        <div class="col-lg-2 pb-2">
          <app-movie-card [movie]="movie"></app-movie-card>
        </div>
      }
    </div>

    <h2 class="pt-2">Best Drama movies</h2>
    <div class="row">
      @for (movie of $bestDramaMovies(); track movie.id) {
        <div class="col-lg-2 pb-2">
          <app-movie-card [movie]="movie"></app-movie-card>
        </div>
      }
    </div>
  }
</div>
